<div class="atributos">
    <div class="atr">
        <div class="parteSuperior">
            <h3><a class="rollable" data-roll="{{data.agi}}d20kh1" data-label="Agilidade:">AGILIDADE</a></h3>
        </div>
        <div class="parteInferior">
            <input name="data.agi" type="text" value="{{data.agi}}">
        </div>
    </div>
    <div class="atr">
        <div class="parteSuperior">
            <h3><a class="rollable" data-roll="{{data.for}}d20kh1" data-label="Força:">FORÇA</a></h3>
        </div>
        <div class="parteInferior">
            <input name="data.for" type="text" value="{{data.for}}">
        </div>
    </div>
    <div class="atr">
        <div class="parteSuperior">
            <h3><a class="rollable" data-roll="{{data.int}}d20kh1" data-label="Intelecto:">INTELECTO</a></h3>
        </div>
        <div class="parteInferior">
            <input name="data.int" type="text" value="{{data.int}}">
        </div>
    </div>
    <div class="atr">
        <div class="parteSuperior">
            <h3><a class="rollable" data-roll="{{data.pre}}d20kh1" data-label="Presença:">PRESENÇA</a></h3>
        </div>
        <div class="parteInferior">
            <input name="data.pre" type="text" value="{{data.pre}}">
        </div>
    </div>
    <div class="atr" style="border: none;">
        <div class="parteSuperior">
            <h3><a class="rollable" data-roll="{{data.vig}}d20kh1" data-label="Vigor:">VIGOR</a></h3>
        </div>
        <div class="parteInferior">
            <input name="data.vig" type="text" value="{{data.vig}}">
        </div>
    </div>
</div>